:root {
  /* --color-0: #fefae0;
  --color-x-1: #e9edc9;
  --color-x-2: #ccd5ae;
  --color-y-1: #faedcd;
  --color-y-2: #d4a373; */

  /* --color-0: #edf2fb;
  --color-1: #e2eafc;
  --color-2: #d7e3fc;
  --color-3: #ccdbfd;
  --color-4: #c1d3fe;
  --color-5: #b6ccfe; */

  --color-0: #faf3dd; /*yellow*/
  --color-1: #c8d5b9; /*light green*/
  --color-2: #d7e3fc; /*yellow*/
  --color-3: #8fc0a9; /*yellow*/
  --color-4: #4a7c59; /*yellow*/
  /* --color-5: #4a7c59; */

  --color-0: #C1BDB3; /*yellow*/
  --color-1: #C7C5CA; /*light green*/
  --color-2: #7F7979; /*yellow*/
  --color-3-a: #DCDAD4; /*yellow*/
  --color-3-b: #3D3B3C; /*yellow*/
  --color-4: #5F5B6B; /*yellow*/
  --color-5: #E0DFDF
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.section-wrapper {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: var(--color-1);
}

button {
  background-color: var(--color-0);
}

.section-header {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.body-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.dot {
  border-style: solid;
  border-color: black;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  margin: 0.2rem;
  border-radius: 50%;
}

.selected-button {
  background-color: gray;
}

.unselected-button {
  background-color: white;
}

.highlighted-dot {
  background-color: var(--color-5);
}

.section-wrapper-outer h1 {
  font-size: 1.5rem;
}

.project-parameters {
  display: flex;
  justify-content: space-between;
}

.section-wrapper-single {
  display: inline-flex;
  align-items: center;
}

.section-controls {
  display: flex;
  flex-direction: row;
}

.section-controls h1 {
  font-size: 1.2rem;
  overflow: hidden;
}

.parameter-section-horizontal {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: var(--color-0);
}

.parameter-section-horizontal:not(:first-child) {
  border-left: 0;
}

.param-output-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3-a);
}

.param-output-wrapper p {
  display: block;
  width: 3.5rem;
  height: 2.9rem;
  padding: 0.6rem 0;
  text-align: center;
  border: 1px solid black;
}

.param-output-wrapper p:not(:last-child) {
  border-bottom: 0;
}

.parameter-section-vertical {
  margin: 0.5rem;
  font-weight: 200;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.parameter-section-header {
  justify-content: center;
}

.parameter-section-header h1 {
  text-align: center;
}

.parameter-section-vertical p {
  text-align: left;
  margin: 0 .5rem;
}

.parameter-value-slider {
  padding: 0.5rem 0;
}

.parameter-output-section {
  margin: 1rem;
}

/* slider */
.horizontal-slider {
  width: 9rem;
  margin: 0 .5rem;
  height: 1.1rem;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 2px solid #7F7979;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 50%;
  height: .4rem;
}
.horizontal-slider .example-thumb {
  top: 20%;
  width: 1rem;
  outline: none;
  height: 1rem;
  line-height: .38rem;
}

/* dot */

.on-dot {
  background-color: #000;
}

.off-dot {
  background-color: var(--color-0);
}

@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

.dot--once {
  animation: blink 0.5s 1;
}

.highlighted-dot {
    background-color: var(--color-5);
}

.muted-dot {
    background-color: yellow;
}

.light-background-chunk {
    background: var(--color-4);
  display: inline-block;
}

.dark-background-chunk {
  display: inline-block;
  background: var(--color-3-b);
}
