
.section-wrapper {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid black;
  background-color: #eee;
  display: inline-block;
}

.body-wrapper {
  display: block;
}

.track-section {
  margin: 20px 0 0 20px;
}


.dot {
  border-style: solid;
  border-color: black;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin: 2px;
  border-radius: 50%;
}

.selected-button {
  background-color: #FF0000;
}

.unselected-button {
  background-color: #0000FF;
}

.highlighted-dot {
  background-color: blue;
}

.section-wrapper-single {
  display: flex;
  align-items: center;
}

.section-controls {
  flex-direction: column;
}

.section-controls h1{
  font-size: 1em;
  padding-left: 0.5em;
}
