
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.section-wrapper {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: #eee;
  display: inline-grid;
}

.body-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.dot {
  border-style: solid;
  border-color: black;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  margin: 0.2rem;
  border-radius: 50%;
}

.selected-button {
  background-color: #FF0000;
}

.unselected-button {
  background-color: #0000FF00;
}

.highlighted-dot {
  background-color: blue;
}

.section-wrapper-outer h1 {
  font-size: 1.5rem;
}

.section-wrapper-single {
  display: inline-flex;
  align-items: center;
  margin: 0.5rem 0;
}

.section-controls {
  display: flex;
  flex-direction: row;
}

.section-controls h1{
  font-size: 1.2rem;
  overflow: hidden;
}

.parameter-section {
  border: 1px solid black;
  margin: 0.5rem;
  font-weight: 200;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parameter-section-header {
  justify-content: center;
}

.parameter-section-header h1 {
  text-align: center;
}

.parameter-section p {
  text-align: left;
  margin: 0 .5rem;
}

.parameter-value-slider {
  padding: 0.5rem 0;
}

/* slider */
.horizontal-slider {
  width: 9rem;
  margin: 0 .5rem;
  height: 1.1rem;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 50%;
  height: .4rem;
}
.horizontal-slider .example-thumb {
  top: 20%;
  width: 1rem;
  outline: none;
  height: 1rem;
  line-height: .38rem;
}
