.event-section-wrapper {

}
.label-holder {
  display: block;
  width: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.label-holder p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-track-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.v-line {
  border-left: 2px solid black;
  height: 25px;
}

.spacer {
  display: block;
  width: 20px;
}


.label-area {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.label-area p {
  margin: 0;
}
