.event-section-wrapper {

}
.label-holder {
  display: block;
  width: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.label-holder p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-track-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.v-line {
  border-left: 2px solid black;
  height: 25px;
}

.spacer {
  display: block;
  width: 20px;
}

/* slider */
.horizontal-slider {
  width: 100px;
  margin: 0 5px;
  height: 25px;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 50%;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 20%;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
