.event-section-wrapper {

}
.label-holder {
  display: block;
  width: .8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.label-holder p {
  margin-top: 0;
  margin-bottom: 0;
}

.single-track-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.v-line {
  border-left: 2px solid black;
  height: 2rem;
}

.spacer {
  display: block;
  width: 1rem;
}


.label-area {
  width: 1.2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.label-area p {
  padding: 0.3rem 0;
}
